.blog{
    margin: 0 auto var(--section-spacing);
    max-width: 1110px;
    padding: 0 20px 0;
    &-header{
        text-align: center;
    }
    .global-heading {
        max-width: 454px;
        margin: 0 auto 25px;
    }
    .global-text{
        margin-bottom: 78px;
    }
    &-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 34px;
    }
    &-item{
        border-radius: 17px;
        transition: all 0.2s linear;
        &:hover{
            background: #FFFFFF;
            box-shadow: 0px 46px 100px -31px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            .blog-title{
                color: $primary-color;
            }
        }
    }
    &-content{
        padding: 33px 23px;
    }
    &-image{
        height: 322px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 17px 17px 0px 0px;
        }
    }
    &-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $gray-dark;
        margin-bottom: 9px;
        transition: all 0.2s linear;
    }
    &-desc {
        font-size: 13px;
        line-height: 20px;
        color: #6D7F94;
    }
}