.subscribe {
    margin-bottom: var(--section-spacing);
    &-main{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 77px 173px 116px 161px;
        background: #F4F6FD;
        border-radius: 67px;
        gap: 0 19px;
    }
    &-content{
        max-width: 404px;

    }
    &-heading{
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 25px;
    }
    &-desc{
        max-width: 338px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #787E86;
        opacity: 0.8;
    }
    &-form{
        background: #FFFFFF;
        border-radius: 26.5px;
        display: flex;
    }
    &-input{
        padding: 15px 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #6B7D93;
        font-family: "Poppins", sans-serif;
        outline: none;
        border: 0;
        background: transparent;
    }
}