.service{
    padding: 0 20px 70px;
    max-width: 1110px;
    margin: 0 auto;
    &-header{
        text-align: center;
        margin-bottom: 73px;
    }
    &-caption{
        margin-bottom: 25px;
    }
    &-heading{
        max-width: 426px;
        margin: 0 auto 32px;
    }
    &-list{
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        grid-gap: 33px;
    }
    &-item{
        border: 2px solid #EDEFF7;
        box-sizing: border-box;
        border-radius: 13px;
        padding: 40px 45px 87px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: all 0.2s linear;
        &:hover{
            box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
            border-color: transparent;
        }
        &:hover .service-icon{
            background-color: #5A73E5;
            img{
                filter: brightness(10);
            }
        }
    }
    &-icon {
        width: 67px;
        height: 67px;
        border-radius: 100rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f7;
        margin-bottom: 26px;
        transition: all 0.2s linear;
        img{
            transition: all 0.2s linear;
        }
    }
    &-title{
        margin-bottom: 19px;
    }
}