section.blog 
    .blog-header    
        h2.global-heading.global-heading--big Our Regular Updated Blog Posts
        p.global-text tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque. 
    .blog-list 
        +blogItem("./images/img-blog-1.png 2x","SEO tips and tricks for new","Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* ")
        +blogItem("./images/img-blog-2.png 2x","A Guide to Google SEO","Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* ")
        +blogItem("./images/img-blog-3.png 2x","Best Practices SEO Content","Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* ")