section.brand
    .brand-item 
        img(src="./images/brand-google.svg")
    .brand-item 
        img(src="./images/brand-slack.svg")
    .brand-item 
        img(src="./images/brand-agworld.svg")
    .brand-item 
        img(src="./images/brand-riotinto.svg")
    .brand-item 
        img(src="./images/brand-heroku.svg")