footer.footer 
    .container 
        .footer-main 
            .footer-info 
                .footer-intro 
                    .footer-logo 
                        img(srcset="./images/logo-footer.png 2x")
                    p.footer-desc Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc. 
                .footer-icon
                    img(srcset="./images/icon-fb.png 2x")
                    img(srcset="./images/icon-tw.png 2x")
                    img(srcset="./images/icon-ig.png 2x")
            .footer-content
                .footer-item 
                    h5.footer-title Services
                    .footer-sub 
                        span Email Marketing Social
                        span Media Marketing Search
                        span Engine Optimization 
                        span Prnelnct Devnionmnni 
                        span Web Development 
                .footer-item 
                    h5.footer-title Support
                    .footer-sub 
                        span Sizicik. Community 
                        span Support Documents 
                        span Help:le-Lk API Documents 
                        span 5nvin,es Witus 
                        span Email Contort
                .footer-item 
                    h5.footer-title Contact Us
                    .footer-sub 
                        span suppariaringrozom 
                        span (41) 84?-5E2-451 
                        span North Cry, 547 Link Road. 
        .footer-copyright 
            span All Right Reserved by Us! Copyright 2021 