section.subscribe 
    .container
        .subscribe-main
            .subscribe-content
                h2.global-heading.subscribe-heading Sign up to Our Newsletter
                p.global-text.subscribe-desc You need to get positive results when you spend hard earned revenue and time.
            .subscribe-form
                input.subscribe-input(type="text" placeholder="Email...")
                button.button.button--primary Subscibe